@model AssetManagementSystem.Models.Employee
<style>
    @@media only screen and (max-width: 467px) {
        .form-horizontal {
            margin-top: 150px;
            margin-left: 45px !important;
        }
        /*@@media only screen and (min-width: 1024px) {
    .floatForsearch {
      float:none !important;
    }*/
    }

    @@media only screen and (max-width: 768px) {
        .floatForsearch {
            float: none !important;
        }
    }

    @@media only screen and (max-width: 768px) {
        .form-horizontal {
            margin-top: 152px!important;
            margin-left: 12px !important;
        }
    }
</style>
@using (Html.BeginForm("Create", "Employee", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @*<link href="~/Content/style1.css" rel="stylesheet" />*@
    <link href="~/Content/sites.css" rel="stylesheet" />
    <div class="form-horizontal">
        <h4 style="margin-top: 97px;
    font-weight: bold;">Employee Details</h4>
        <hr margin-bottom ="100px"/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.srNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.srNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.srNo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.empId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empId, new { htmlAttributes = new { @class = "form-control", @maxlength = 10 } })
                @Html.ValidationMessageFor(model => model.empId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empName, new { htmlAttributes = new { @class = "form-control",@maxlength=30 } })
                @Html.ValidationMessageFor(model => model.empName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cubicalNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cubicalNo, new { htmlAttributes = new { @class = "form-control",@min=1 } })
                @Html.ValidationMessageFor(model => model.cubicalNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactNo, new { htmlAttributes = new { @class = "form-control", @maxlength = 10 } })
                @Html.ValidationMessageFor(model => model.contactNo, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
                @Html.ValidationMessageFor(model => model.emailId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <input type="submit" value="Save" id="btnCreate" onclick="Popup1" class="button-css"  />
                <button onclick="location.href='@Url.Action("Index", "Employee")';return false;" class="button-css">Back</button>
                @*<input type="button" value="Back" id="btnBack" class="buttonStyle"/>*@
                <input type="reset" value="Reset" id="btnReset"  class="button-css"/>
            </div>
        </div>
    </div>
}

@*<div>
   @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function () {
        if ('@ViewBag.Msg' != "")
        {

           alert('@ViewBag.Msg');

            $('#empId').val("");
            $('#empName').val("");
            $('#cubicalNo').val("");
            $('#contactNo').val("");
            $('#emailId').val("");
        }


    });
    function Popup1() {
        alert("Saved Successfully...");
    }
    $("#empId").keypress(function (e) {
        if (String.fromCharCode(e.which).match(/[^0-9_ ]/)) {
            e.preventDefault();
            alert("Enter a valid Employee ID");
        }
    });
    $("#empName").keypress(function (e) {
        if (String.fromCharCode(e.which).match(/[^a-zA-Z_ ]/)) {
            e.preventDefault();
            alert("Enter a valid Employee Name");
        }
    });
    $("#contactNo").keypress(function (e) {
        if (String.fromCharCode(e.which).match(/[^0-9_ ]/)) {
            e.preventDefault();
            alert("Enter a number");
        }
    });

</script>
<script>

    $(document).ready(function () {

        if ('@ViewBag.ErrorMsg1' != "")
        {
            alert('@ViewBag.ErrorMsg1');
        }
    });

</script>
@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.form.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.js">
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
