@*THIS IS EMPLOYEE VIEW PAGE*@
@*hello World*@
@model IEnumerable<AssetManagementSystem.Models.Employee>
    @*THIS IS MAIN INDEX PAGE*@
<style>
    @@media only screen and (max-width: 467px) {
        .form-horizontal {
            margin-top: 150px;
            margin-left: 45px !important;
        }
        /*@@media only screen and (min-width: 1024px) {
    .floatForsearch {
      float:none !important;
    }*/
    }

    @@media only screen and (max-width: 768px) {
        .floatForsearch {
            float: none !important;
        }
    }

    @@media only screen and (max-width: 768px) {
        .form-horizontal {
            margin-top: 13px;
            margin-left: 45px !important;
        }
    }
</style>
@*<p>*@
       @*<input type="button" value="Create" id="addNew" class="buttonStyle" />*@
    @*@Html.ActionLink("Create New", "Create")*@
@*</p>*@

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<link href="~/Content/sites.css" rel="stylesheet" />
@*<script src="~/script/Assignee.js"></script>
<script src="~/script/jquery-1.3.2.js"></script>
<script src="~/script/jquery.validate.js"></script>*@
@*<div class="empinfo">
    <h1 style="margin-left: 500px;margin-top: 30px; font-size: 20px !important;">Employee</h1>
    <h2 class="empmain">
        <p align="center"><b>Employee List</b></p></h2>
        <input type="button" class="button-css"  id="btnAddNew" value="Add New"  onclick="location.href='@Url.Action("Create", "Employee")';return false;" />
        <input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home", new { area = ""})';return false;"/>
        <label class="search">
            Search :<input type="text" id="myInput"  onkeyup="myFunction()" style="font-size:15px;" placeholder="Search Employee By Id No" title="Type in a name">
        </label>
    </div>*@

<div class="form-horizontal">
    <h4 style="font-weight:bold;font-size:20px;">Employee List</h4>
    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
        <input type="button" class="button-css" id="btnAddNew" value="Add Employee" onclick="location.href='@Url.Action("Create", "Employee")';return false;" />
        <input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home",new { area=""})';return false;" />

    </div>
    @*<input type="button" class="button-css" id="btnAddNew" value="Add Hardware" onclick="location.href='@Url.Action("Create", "Hardware",new { area="Asset"})';return false;" />*@
    @*<input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home",new { area=""})';return false;" />*@
    <input type="text" id="myInput" onkeyup="myFunction()" class="floatForsearch" style="font-size:15px;margin-top: 25px;" placeholder="Search Employee By Id No" title="Type in a name">


</div>

    <table class="table form-horizontal" id="tblEmployee">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.srNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cubicalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Employee", new { srNo = item.srNo }))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.srNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cubicalNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailId)
                </td>
                <td>
                    @*<input type="button" value="Assign" id="btnAssign" class="button-css" />*@
                    @*<button onclick="location.href='@Url.Action("Assign", "Employee",new {  srNo=item.srNo })';return false;" class="button-css">Assign</button>*@
                    <button onclick="location.href='@Url.Action("Assign", "Employee", new { srNo = item.srNo })';return false;" class="button-css">Assign</button>
                    <button onclick="location.href='@Url.Action("View", "Employee", new { srNo = item.srNo })';return false;" class="button-css">View</button>
                    @*<input type="button" value="Assignee Update" id="btnAssigneeUpdate" class="buttonStyle" />*@
                    <button onclick="location.href='@Url.Action("Edit", "Employee", new { srNo = item.srNo })';return false;" class="button-css">Employee Update</button>
                    <button onclick="return confirm('Do you want to delete this record')" class="button-css">Delete</button>
                    <button type="button" id="btnDeallocateAsset" value="@item.srNo" class="button-css popup" data-toggle="modal" data-target="#myModal">Deallocate Assets</button>
                    @*<input type="button" value="Delete" id="btnDelete" class="buttonStyle" />*@

                    @*@Html.ActionLink("Edit","Edit","","button")*@
                    @*@Html.ActionLink("Edit", "Edit", new {  srNo=item.srNo }) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { srNo = item.srNo })*@
                </td>
            </tr>
            }
        }

    </table>
<div id="hideModel">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                    <input type="hidden" value="" id="srNo" />
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" id="deallocateModalButton" class="btn btn-default" data-dismiss="modal">Deallocate</button>

                    <button type="button" id="modelClose" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblEmployee");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>

    $(document).ready(function () {
        if ('@TempData["IsDeleteMsg"]' != '') {
            alert('@TempData["IsDeleteMsg"]');
        }
    });
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

        $('#deallocateModalButton').click(function () {


            console.log("configuration save clicked");
                     var selectedAssets = [];
                     $.each($("input[name='allocatedAssetCheckbox']:checked"), function () {
                         selectedAssets.push($(this).val());
                         console.log(selectedAssets);
                     });
                     var assetDeallocation = {};
                     assetDeallocation.srNo =$('#srNo').val();
                     assetDeallocation.selectedAssets = selectedAssets;

                     $.ajax({
                         type: "POST",
                         //url: '/Employee/DeallocateAsset',
                         url:'@Url.Action("DeallocateAsset", "Employee")',
                         async: true,
                         @*data: { srNo : @TempData["srNo"],selectedAssets : JSON.stringify(selectedAssets)},*@
                         //data: { assetEmployee: assetEmployee},
                         data: JSON.stringify(assetDeallocation),
                         contentType: "application/json; charset=utf-8",
                         dataType: "json",
                         success: function (data) {

                             alert(data.responseText)
                             console.log("//" + data);
                             //window.location = "/Employee/Index";
                             window.location = '@Url.Action("Index", "Employee")';

                         },
                         error: function (xhr) {
                             alert('error');
                         }
                     });

        });



        $('.popup').click(function () {
            console.log("+++++++++++++++++++++++++");
           // var srNo = $('.popup').val();
            var srNo = $(this).attr('value');
            //var srNo = $('#btnDeallocateAsset').value;
            var assetListJsonObject = [];
            console.log(srNo+";;;;;;;;;;;;;;");
            $.ajax({
                    type: "GET",
                    //url: '/Employee/GetAllocatedAssetsList',
                url:'@Url.Action("GetAllocatedAssetsList", "Employee")',
                    async: true,
                    cache: false,
                     data: { srNo: srNo },
                  //  data: { srNo: @TempData["srNo"] },
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (data) {
                        

                             $('.modal-body').html("");
                             $('#srNo').val(data[0].srNo);
                             var assetResult = '<b>Emp name : </b>' + data[0].empName + '<br/><b>Emp Id : </b>' + data[0].empId + '<br/>';
                             $('.modal-title').html(assetResult);

                             for (i = 0; i < data.length; i++) {
                                 console.log("Asset Name :" + data[i].assetName);
                                 var checkbox = $('<input type="checkbox" class="rbtnAllocatedAsset" name="allocatedAssetCheckbox" value=' + data[i].assetId + ' />' + data[i].assetName + '<br />');
                                 assetResult += checkbox
                                 checkbox.prependTo('.modal-body');

                                 $('.modal-body').show();

                             }

                             console.log("successfull data assetlist");
                        
                     },
                     error: function (xhr) {
                         alert('error');
                     }





                //var selectedAssets = [];
                //    $.each($("input[name='assetCheckbox']:checked"), function () {
                //        selectedAssets.push($(this).val());
                //    });




            });
        });

</script>
