@model IEnumerable<AssetManagementSystem.Models.Hardware>

@{
    ViewBag.Title = "GetAsset";
}

@*<h2 style="margin-top: 103px;"> <p align="center">Hardware List</p></h2>*@
<style>
    @@media only screen and (max-width: 467px) {
    .form-horizontal {
       margin-top: 150px;
       margin-left: 45px !important;
    }
     /*@@media only screen and (min-width: 1024px) {
    .floatForsearch {
      float:none !important;
    }*/
}@@media only screen and (max-width: 768px) {
    .floatForsearch {
      float:none !important;
    }
}
     @@media only screen and (max-width: 768px) {
    .form-horizontal {
       margin-top: 13px;
       margin-left: 45px !important;
    }
}
</style>
    
<link href="~/Content/sites.css" rel="stylesheet" />
@*<h2 class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 103px;"> <p align="center">Hardware List</p></h2>*@

@*<div class="row">
    <h2 style="margin-top: 103px;"> <p align="center">Hardware List</p></h2>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="button" class="button-css" id="btnAddNew" value="Add Hardware" onclick="location.href='@Url.Action("Create", "Hardware",new { area="Asset"})';return false;" />
        <input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home",new { area=""})';return false;" />

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <input type="text" class="" id="searchInput" onkeyup="assetSearch()" placeholder="Search asset name" style="float:right;margin-top:25px;" />
    </div>
</div>*@
@*<input type="button" class="button-css" id="btnAddNew" value="Add Hardware" onclick="location.href='@Url.Action("Create", "Hardware",new { area="Asset"})';return false;" />
<input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home",new { area=""})';return false;" />*@

@*<input type="text" class="" id="searchInput" onkeyup="assetSearch()" placeholder="Search asset name" style="float:right;margin-top:25px;" />*@
 
   @*<span class="col-md-2" style="margin-top:20px;margin-left:10px;margin-bottom:5px"> @Html.ActionLink("Create New", "Create")</span>*@
<div class="form-horizontal">
    <h4 style="font-weight:bold;font-size:20px;">Hardware List</h4>
   <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
       <input type="button" class="button-css" id="btnAddNew" value="Add Hardware" onclick="location.href='@Url.Action("Create", "Hardware",new { area="Asset"})';return false;" />
       <input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home",new { area=""})';return false;" />

   </div>
            @*<input type="button" class="button-css" id="btnAddNew" value="Add Hardware" onclick="location.href='@Url.Action("Create", "Hardware",new { area="Asset"})';return false;" />*@
    @*<input type="button" class="button-css" id="btnBack" value="Back" onclick="location.href='@Url.Action("Index", "Home",new { area=""})';return false;" />*@
    <input type="text" class="col-xs-12 col-sm-12 floatForsearch " id="searchInput" onkeyup="assetSearch()" placeholder="Search asset name" style="float: right;margin-top:25px;" />

      
    </div>
    <table class="table form-horizontal" id="tblAsset" style="overflow-y:scroll">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.assetCode)
                </th>

                    <th>
                        @Html.DisplayNameFor(model => model.assetName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.shortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.serialNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.modelNo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.warrantyPeriod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.vendorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.vendorContact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.vendorEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.createdDate)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.isActive)
                    </th>*@
                    
                    <th></th>
                </tr>

            @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Hardware", new { id = item.assetId, area = "Asset" }))
                    {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.resourceId)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.assetCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.assetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.shortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.serialNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.warrantyPeriod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vendorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vendorContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vendorEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdDate)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>*@
                        
                        
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id=item.assetId },new { @class= "button-css" })*@ 
                            <input type="button" class="button-css" id="btnEdit" value="Update" onclick="location.href='@Url.Action("Edit", "Hardware",new { id = item.assetId })';return false;" @*onclick="window.location.href='/Asset/Hardware/Edit/@item.assetId'"*@ />




                        </td>
                        <td>
                            <input type="submit" value="Delete" class="button-css" onclick="return confirm('Do you want to delete this record')" />

                        </td>
                    </tr>
            }
        }

        </table>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

         $(document).ready(function () {
             if ('@TempData["IsDeleteMsg"]' != '')
        {
            alert('@TempData["IsDeleteMsg"]');
             }

             
             

             @*$('#btnCreate').click(function () {
                 document.location = '@Url.Action("Create","Hardware",)';
             });*@
        });

         function assetSearch() {
             var input, filter, table, tr, td, i;
             input = document.getElementById("searchInput");
             filter = input.value.toUpperCase();
             table = document.getElementById("tblAsset");
             tr = table.getElementsByTagName("tr");
             for (i = 0; i < tr.length; i++) {
                 td = tr[i].getElementsByTagName("td")[1];
                 if (td) {
                     if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                         tr[i].style.display = "";
                     } else {
                         tr[i].style.display = "none";
                     }
                 }
             }
         }

    </script>
